html, body {

  width: 1080px;
  height: 2240px;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  text-shadow: none;
  color: black;


}


#content {
  background-color: rgba(230,230, 230, 0.1);

}

.mapviewer {
  border: none;
  box-shadow: none;
  text-shadow: none;
  width: 40px;
  height: 40px;
   background-image: url("icons/location.png");
  background-size:cover;
}




.header {
  background-color: rgba(255,255, 255, 0.7) ;
  color: #000000;
  text-shadow: none;
  height: 50px;
  font-size: 20px;
}

.noTextShadow {
  text-shadow: none;
  color: black;
}
/*

padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px; */

#article1{

  background-size: 100%;
  backgroundImage: url("icons/5.png");
  width: 100%;
  display: none;
}


#map {
  position: absolute;
  top: 200px;
  bottom: 0;
  width: 100%;
  height: 50%;
  border: solid 2px;
  border-radius: 5px;
}

#cross {
  position: absolute;
  z-index: 999;
  color: black;
  font-size: 26px;
  text-align: right;
}


#divBackgroundimage{
  position: absolute;
  background-image: url("icons/5.png");
  background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: -11;
}


.temperature {
  font-size: 24px;

}

.nolinkstyle {
  text-decoration: none;
  color: black;
  text-shadow: none;
}

#moreInfo {
  color: black;
  text-shadow: none;
}


.marker {
  background-image: url('icons/location.png');
  background-size: cover;
  width: 25px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.locdiv {
  background-image: url('icons/location.png');

  background-size: cover;
  width: 25px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#selTime {
  text-align: center;

}
.button1 {
	padding: 15px;
	font-size: 14px;
}

#choice-1:focus, #choice-2:focus, #choice-3:focus, #choice-4:focus, #choice-5:focus, #choice-6:focus, #choice-7:focus, #choice-8:focus{
	background-color: #888;
	box-shadow: none;
}

#choice-1, #choice-2, #choice-3, #choice-4, #choice-5, #choice-6, #choice-7, #choice-8{
  border-radius: 50%;
  border: solid 2px black;
}

.spaceBetween{
  padding-left: 3px;
}
#TimeTable td {
  padding-left: 5px;
}

#time-1 , #time-2 ,#time-3 ,#time-4 ,#time-5 ,#time-6 ,#time-7 ,#time-8{
  margin: 3px 3px 3px 3px;
}



#address {
  display: none;
}
#location {
  margin-bottom: 25px;
}

#locationTitle {
  text-align: left;
  width: 99%;
}

#locationIcon {
    max-height:55px;
    max-width:55px;
    display:block;
    margin:0 auto;
}

#iconWrap {
  white-space: nowrap;
  width: 10%;

}


#windWrap {
  white-space: nowrap;
	width: 20%;
}


.st0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st1 {
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}


#weather {
  white-space: nowrap;
}

#weatherIconNow{
  width: 100%;
  white-space: nowrap;
}

.weatherT {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}


.transparent{
  background-color: Transparent !important;
}


.navigator {
    width: 100%;
    padding: 0;
    height: 30px;
    background-color: Transparent;
}
.navigator a {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: Transparent;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px #000000;
    margin-right: 10px;
}
.navigator a {
    background: #FFFFFF;
}
.navigator a.activeSlide {
    background: #000000;
}

.right{
  width: 100%;
}

#gradet, #gradeb {
  color: black;
  margin-left: 10px;
}

#gradet {
  margin-bottom: -25px;
}

#gradeML{
  margin-left: 40px;
  color: black;
  font-size: 26px;
}

#PollutionPicture{
  width: 70%;
}

#pollutionIMG{

  padding-top: 0px;
  width: 100%;
  border: solid 2px black;
  border-radius: 50%;
  margin-bottom: 10px;
  background-size: contain;
}

#pollTable td {
  border: solid 2px black;

}


.weatherIcon {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}




.forecastday {

  margin-bottom: 10px;
  border: solid 2px black;
  border-radius: 5px;
  background-size: 100%;
  width: 100%;
  text-shadow: none;
  color: black;
}


.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.windicons {
	white-space: nowrap;
	margin-top: 20px;
  margin-left: -10px;
}

.windicon{
  width: 100%;
}

.row {
  width: 100%;
  font-family: inherit;
  border-collapse: collapse;
}


.temperaturefor {
  font-size: 16px;
  text-align: left;
  margin-top: -5px;
}


#g11, #g21, #g31, #g41{
  margin: 10px;
  width: 80%;
  background-size: contain;
}
.gauge td {
  white-space: nowrap;
}

.gradeDays {
  margin-top: 40px;
  margin-left: 20px;
}

.carousel-indicators li {
	height: 8px !important;
	width: 8px !important;
 border: solid 2px;
 border-radius: 60%;
 background-color: #fff;

}
.carousel-indicators {
	 bottom: -10px;
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-control {

    background-image:none !important;
    filter:none !important;
}

.carousel-control span.glyphicon {
    color: #000;
}

.carousel {
  width: 30%;
	height: 140px;
	padding: 3px 3px 3px 3px;
	margin: 5px 5px 5px 5px;
	border: solid 2px;
  border-radius: 5px;
  background-color: rgba(235,235,235,1);
}


#PM10, #NO2, #SO2, #CO, #O3 {
  width: 16%;
	height: 120px;
  text-align: center;
  padding: 5px 0px 2px 2px;
  margin: 3px 3px 3px 3px;
  border: solid 2px;
  border-radius: 5%;
  background-color: rgba(255,255,255,.7);
}

#detailview span {
  height: 25px;
width: 25px;
background-color: #aaa;
border-radius: 50%;
display: inline-block;

}

#detailview {
  text-shadow: none;
  color: black;
}

#detailedDiv{
  padding: 5px 5px 5px 5px;
  margin: 3px 3px 3px 3px;
  text-shadow: none;
  color: black;
  height: 270px;
}

#recommendation {
  padding: 5px 5px 5px 5px;
  margin: 3px 3px 3px 3px;
  text-shadow: none;
  color: black;
  /* background-color: rgba(216,216,216,.7); */
}

#mlbg {
  border: solid 2px black;
  width: 70%;
  margin-left: 30px;
  border-radius: 50%;
}

#machinelearning {
  margin-top: 50px;
}

#MLSliders{
  width: 100%;
  margin-bottom: 100px;
}

#article3 {
  background-color: #fff;
}
