html, body {
  width: 1080px;
  height: 2240px;
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  text-shadow: none;
  color: black;


}

#content {
  background-color: rgba(255,255, 255, 0.3);
}

.header {
  background-color: ;
  color: #000000;
  text-shadow: none;
  height: 50px;
}

.borderCust {
  text-shadow: none;
  color: black;
}
/*

padding: 5px 5px 5px 5px;
margin: 5px 5px 5px 5px; */

#article1{
  background-size: 100%;
  backgroundImage: url("icons/5.png");
  width: 100%;
  display: none;
}


#map {
  position: absolute;
  top: 200px;
  bottom: 0;
  width: 100%;
  height: 50%;
  border: solid 5px;
  border-radius: 5px;
}

.gContainer {
  position: relative;
  width: 300px;
  height: 180px;
}


.gaugePos {
  width: 300px;
  height: 250px;
  position: absolute;
}
#divBackgroundimage{
  position: absolute;
  background-image: url("icons/5.png");
  background-size: 100%;
    width: 100%;
    height: 100%;
    z-index: -11;
}


.temperature {
  font-size: 150%;
}

.nolinkstyle {
  text-decoration: none;
}



#moreCharts {
  text-align: center;
}

.marker {
  background-image: url('icons/location_icon.svg');
  background-size: cover;
  width: 25px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.locdiv {
  background-image: url('open-iconic/svg/media-record.svg');
  background-size: cover;
  width: 25px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

#selTime {
  text-align: center;

}
.button1 {
	padding: 15px;
	font-size: 14px;
}

#choice-1:focus, #choice-2:focus, #choice-3:focus, #choice-4:focus, #choice-5:focus, #choice-6:focus, #choice-7:focus, #choice-8:focus{
	background-color: #888;
	box-shadow: none;
}

#choice-1, #choice-2, #choice-3, #choice-4, #choice-5, #choice-6, #choice-7, #choice-8{
  border-radius: 50%;
  border: solid 3px black;
}

.spaceBetween{
  padding-left: 3px;
}
#TimeTable td {
  padding-left: 5px;
}

#time-1 , #time-2 ,#time-3 ,#time-4 ,#time-5 ,#time-6 ,#time-7 ,#time-8{
  margin: 3px 3px 3px 3px;
}



#address {
  display: none;
}
#location {
  margin-bottom: 10px;
  margin-top: -10px;
}

#locationTitle {
  text-align: left;
  width: 99%;
}

#locationIcon {
  width: 100%;
}

#iconWrap {
  white-space: nowrap;
  width: 10%
}


#windWrap {
  white-space: nowrap;
	width: 20%;
}


.st0 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}

.st1 {
  stroke: #000000;
  stroke-width: 8;
  stroke-miterlimit: 10;
}


.weather {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px 10px 0px 10px;
}

.weatherT {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
}

.weather1 {
	/*border: solid 1px;*/

}
.transparent{
  background-color: Transparent !important;
}


.navigator {
    width: 100%;
    padding: 0;
    height: 30px;
    background-color: Transparent;
}
.navigator a {
    display: inline-block;
    width: 10px;
    height: 10px;
    text-indent: -999em;
    background: Transparent;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 1px 1px #000000;
    margin-right: 10px;
}
.navigator a {
    background: #FFFFFF;
}
.navigator a.activeSlide {
    background: #000000;
}

.right{
  width: 100%;
}

#weatherIconNow {


}

#PollutionPicture{
  width: 100%;
}

#pollutioIMG{
  width: 80%;
  background-color: rgba(0,0,0, 0.4) !important;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 30px;
}

.weatherIcon {

}

 .forecastall {
  height: 100%;
  width: 100%;
}

.forecastday {
  border-bottom-style: solid;
  border-width: thin;
  background-size: 100%;
  width: 100%;
}

.windicons {
	white-space: nowrap;
	margin-top: 20px;
}

.row {
  with: 100%;
}

.ui-block-a {
  margin-right: 10px;
}

.temperaturefor {
  font-size: 16px;
  text-align: left;
  margin-top: -5px;
}

.gauge {
  top: 20px;
	margin-left: 10px;
  position: relative;
  width: 100px;
  height: 50px;
}

.forecastGauge {
  width: 100px;
  height: 100px;
  position: absolute;
}


.carousel-indicators li {
	height: 8px !important;
	width: 8px !important;
 border: solid 1px;
 border-radius: 60%;
 background-color: #fff;

}
.carousel-indicators {
	 bottom: -10px;
}

.carousel-indicators .active {
    background-color: #000;
}

.carousel-control {
    background-image:none !important;
    filter:none !important;
}

.carousel-control span.glyphicon {
    color: #000;
}

.carousel {
  width: 30%;
	height: 170px;
	padding: 3px 3px 3px 3px;
	margin: 5px 5px 5px 5px;
	border: solid 3px;
}

.mlGauge {
	top: 20px;
	margin-left: 10px;
	position: relative;
	width: 300px;
	height: 200px;
}

.mlGaugePos {
  width: 300px;
  height: 250px;
  position: absolute;
}

#PM10, #NO2, #SO2, #CO, #O3 {
  width: 16%;
	height: 120px;
  text-align: center;
  padding: 5px 0px 2px 2px;
  margin: 3px 3px 3px 3px;
  border: solid 1px;
  border-radius: 5%;
  background-color: rgba(255,255,255,.7);
}

#detailview span {
  height: 25px;
width: 25px;
background-color: #aaa;
border-radius: 50%;
display: inline-block;

}

#detailview {
  text-shadow: none;
  color: black;
}

#detailedDiv{
  padding: 5px 5px 5px 5px;
  margin: 3px 3px 3px 3px;
  text-shadow: none;
  color: black;
}

#recommendation {
  padding: 5px 5px 5px 5px;
  margin: 3px 3px 3px 3px;
  text-shadow: none;
  color: black;
  /* background-color: rgba(216,216,216,.7); */
}
